*{
   padding: 0;
   margin: 0;
   color: #001858;
}

#content{
    display: flex;
    justify-content: center;
}

#app{
    background-color: #fef6e4;
    width: 30%;
    padding: 50px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

h1{
    padding-bottom: 30px;
}

button.btn-border {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #8bd3dd;
    color: #fff;
}
  
button.btn-border:hover {
    color: #fff;
    background: #f582ae;
}

th{
    padding: 10px;
}